# Logs
# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist-ssr
*.local

# Editor directories and files
# .vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json
yarn.lock


node_modules
redis-master
redis-slave
docker-entrypoint-initdb.d
setup
file
script/log_script_redis_date.txt
script/.env
test/jest/.env
mongo
redis/data/
logs
.env

git.sh